<!-- index.ejs -->
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="./styles.css">
  </head>
  <body>
    <h1>
      <%= title %>
    </h1>

    <h2>Create a new message: <a href="new">Click Here!</a></h2>

    <ul>
      <% for (let i = 0; i < messages.length; i++) { %>
        <li>
          <b><%= messages[i].user %>:</b> <%= messages[i].text %> 
          <br>
          <small><%= messages[i].added %></small>
        </li>
      <% } %>
    </ul>
    
    <%- include('footer'); %>
  </body>
</html>
