<!-- index.ejs -->
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>
      <%= title %>
    </h1>

    <button <h2><a href="new">Create A New Message</h2></a></button>

    <ul>
      <% for (let i = 0; i < messages.length; i++) { %>
        <li>
          <b><%= messages[i].name %>:</b> <%= messages[i].text %> 
          <br>
          <small><%= messages[i].added %></small>
          <br>
          <button>
            <a href="/details/<%= i %>">View Details</a>
          </button> 
        </li>
      <% } %>
    </ul>
    
    <%- include('footer'); %>
  </body>
</html>
